<tr>
  <td>
    <br />
  </td>
</tr>

<tr class="items">

<%  items = Item.where(:genre_id => @genre.id).select("item_name, item_description")%>

<% items.each do |item| %>
    <tr>
        <td>
            <%= item.item_name %><br>
        </td>
        <td>
            <%= item.item_description %><br>
        </td>
    </tr>
    <tr>
      <td colspan=2>
        <hr />
      </td>

    </tr>

<% end %>

</tr>
