<% provide(:title, @genre.genre_name) %>
<% provide(:button_text, 'Subscribe') %>
<div class="row">
    <aside class="col-md-4">
        <section class="genre-info">
            <h1>
                Genre:
            </h1>
            <%= @genre.genre_name %><br />

            <h1>
                Description:
            </h1>
            <%= @genre.genre_description %><br />
            <h1>
                Items:
            </h1>

            <table style="width:50%">
              <tr>
                <th>Item Name</th>
                <th>Item Description</th>
              </tr>
            <%= render 'item' %>
            </table>
            <%= render 'form' %>
        </section>
    </aside>
</div>
