<% provide(:title, @item.item_name) %>
<% provide(:button_text, 'Subscribe') %>
<div class="row">
    <aside class="col-md-4">
        <section class="item-info">
            <h1>
                Item:
            </h1>
            <%= @item.item_name %><br />

            <h1>
                Description:
            </h1>
            <%= @item.item_description %><br />

            <%= render 'form' %>
        </section>
    </aside>
</div>
