
<% provide(:title, @subscription.id) %>

<div class="row">
    <aside class="col-md-4">
        <section class="subscription-info">
            <h1>
				<%= @genre.genre_name %>
                <%= @subscription.id %>
                <%= @subscription.option_id %>
            </h1>
        </section>
    </aside>
</div>
