<% provide(:title, "About") %>

<h1>About</h1>

<p>
    NERDBLOCK is proud to be the top montlhy subscription based service on the internet, giving top quality items based on multiple genres. <br>
    We have multiple genres to choose from that will provide you with new items each month.
    We have been in business since December 2017.
</p>
<h1>Founders of NERDBLOCK</h1>
<p>
  Uday Shah: Admin of the website. <br>
  Cameron Fenton: Admin of the website. <br>
  Gavin Harris: Admin of the website. <br>
  Cory Boasman: Staff of the website. <br>
  Caleb Blunt: Staff of the website. <br>
</p>
