<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
    Contact the NERDBLOCK team below.

      <form>
        Title: <input type:"text_field" class: 'form-control' >
        Email: <input type:"text_field" class: 'form-control'>
        Message: <input type:"textarea" class: 'form-control'>
        <input type="submit" value="Submit" class: 'form-control'>

      </form>
      Contact the NERDBLOCK team directly at <a href="mailto:nerdblock@example.com?Subject=NERDBLOCK%20ROCKS" target="_top">nerdblock@example.com</a>


</p>
