<% provide(:title, "Help") %>

<h1>Help</h1>

<p>
    Have any questions about NERDBLOCK?
    Or just need help getting your first nerdblock ordered?
    <a href="locolhost:3000/contact">Contact Us!</a>
</p>
