<% provide(:title, "Help") %>

<h1>Help</h1>

<p>
    Have any questions about NERDBLOCK?
    Or just need help getting your first nerdblock ordered?
    <a href="/contact">Contact Us!</a>
    <hr>
    <h2>FAQ</h2>

    <ol>
      <li>   How to sign up to NERDBLOCK? <br> Go to the Sign Up page and enter in your personal details. </li>
      <li>   How to subscribe to a subscription? <br> Log in, and then go to Subscriptions drop down and add a new subscription. </li>
      <li>   How to cancel a subscription? <br> Log in, and then go to subscriptions drop down and cancel a subscription. </li>
   </ol>
</p>
