<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>Welcome to the NERDBLOCK home page</h1>

    <h2>
        NERDBLOCK is a monthly Subscription based service which provides you
        with fun geeky content in a themed package
    </h2>

    <%= link_to "Browse subscriptions", '/subscriptions', class: "btn btn-lg btn-primary" %>
    <% if !logged_in? %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
