<% provide(:title, @genre.genre_name) %>
<% provide(:button_text, 'Subscribe') %>
<div class="row">
    <aside class="col-md-4">
        <section class="genre-info">
            <h1>
                Genre:
            </h1>
            <%= @genre.genre_name %><br />
            <h1>
                Description:
            </h1>
            <%= @genre.genre_description %><br />


            <%= render 'form' %>
        </section>
    </aside>
</div>
