<% provide(:title, @genre.genre_name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="genre-info">
            <h1>
                <%= @genre.genre_name %>,
                <%= @genre.genre_description %>
            </h1>
        </section>
    </aside>
</div>
